<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::page_head('Users - Shopme Admin')"></head>
<body>
<div class="container-fluid">
    <div th:replace="navigation::menu"></div>
    <div>
        <h2>Manage Users</h2>
        <a th:href="@{/users/new}" class="fas fa-user-plus fa-2x icon-dark mr-2"></a>
        &nbsp;|&nbsp;
        <a th:href="@{/users/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
        &nbsp;|&nbsp;
        <a th:href="@{/users/export/excel}" class="fas fa-file-excel fa-2x icon-dark mr-2"></a>
        &nbsp;|&nbsp;
        <a th:href="@{/users/export/pdf}" class="fas fa-file-pdf fa-2x icon-dark mr-2"></a>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <!-- filter section -->
    <div th:replace="fragments::search_form('/users/page/1')"></div>

    <div class="full-details">
        <!-- list user section -->
        <table class="table table-responsive-xl table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <!--<th>
                        <a th:if="${sortField} != 'id'" class="text-white"
                           th:href="@{'/users/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${sortDir} +
                           ${keyword != null ? '&keyword=' + keyword : ''}}">
                            User ID
                        </a>
                        <a th:if="${sortField} == 'id'" class="text-white"
                           th:href="@{'/users/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir} +
                           ${keyword != null ? '&keyword=' + keyword : ''}}">
                            User ID</a>

                        <span th:if="${sortField} == 'id'"
                              th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
                    </th>-->
                    <th class="hideable-column">
                        <th th:replace="fragments::column_link('/users', 'id', 'User ID', 'tag')"></th>
                    </th>
                    <th>Photo</th>
                    <th class="hideable-column">
                        <th th:replace="fragments::column_link('/users', 'email', 'Email', 'tag')"></th>
                    </th>
                    <th th:replace="fragments::column_link('/users', 'firstName', 'First Name', 'none')"></th>
                    <th th:replace="fragments::column_link('/users', 'lastName', 'Last Name', 'none')"></th>
                    <th>Roles</th>
                    <th th:replace="fragments::column_link('/users', 'enabled', 'Enabled', 'none')"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${listUsers}">
                    <td class="hideable-column">[[${user.id}]]</td>
                    <td>
                        <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
                        <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="width: 100px"/>
                    </td> <!--photo-->
                    <td class="hideable-column">[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.roles}]]</td>
                    <td>
                        <div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"></div>
                    </td>
                    <td>
                        <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})"></div>
                        &nbsp;&nbsp;
                        <div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="less-details">
        <div th:each="user : ${listUsers}" class="row m-1">
            <div class="col-4">
                <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
                <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="width: 100px"/>
            </div>
            <div class="col-8">
                <div>[[${user.fullName}]]</div>
                <div>[[${user.roles}]]</div>
                <div class="mt-1">
                    <div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"></div>
                    &nbsp;
                    <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})"></div>
                    &nbsp;
                    <div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)"></div>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>

    <!--paging section-->
    <div th:replace="fragments::pagination('/users', 'users')"></div>

    <div th:replace="modal_fragments::confirm_modal"></div>
    <div th:replace="fragments::footer"></div>
</div>
<script type="text/javascript">
    let moduleURL = "[[@{/users}]]";
    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'user')
        })
    });

</script>
</body>
</html>